@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Titillium+Web:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline:  none;
}
body{
    font-family: "cairo" , sans-serif;
    direction: rtl;
    background: url(pictures/bg4.png) center center/cover no-repeat;
}
.container{
    max-width: 1250px;
    width: 100%;
    padding:  0px 15px ;
    margin:  0 auto;
    background: #faf9f9;
}
/**players**/

.player{
background: linear-gradient(to right ,#000 ,#434343);
position: sticky;
top: 0;
padding: 20px;
margin: 10px 0px;
 border-radius: 5px;
 z-index: 1;
}
.player .ayah{
    color:#fff;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
}
.player .ayah2{
    color:#fff;
    padding: 10px 0;
    font-size: 20px;
    direction: ltr;
    text-align: center;
}
.player audio{
    width: 100%;
    height: 40px;
    margin: 15px 0;
}
.player .buttons{
    display: flex;
    justify-content: space-around;
}
.buttons .icons{
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 20px;
    cursor: pointer;
}
/* .surahs div p{
    color: #120101;
    text-align: right;
    font-weight: 800;
    margin-bottom: -5px;
    font-size: 20px;
} */
.surahs div{
    color: #120101;
    color: #120101;
    text-align: right;
    font-weight: 800;
    margin-bottom: -5px;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    background-color: #fff;
    font-weight: bold;
    box-shadow: 0 0 4px rgb(0, 0, 0,0.4);
    /* width: calc(100%-90px); */
    transition: .3s color ease;
    cursor: pointer;
    width: 93.5%;
    height: 90px;
    margin-bottom: 10px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
    counter-increment:surah-counter ;
}
.surahs div::after{
    content: counter(surah-counter);
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #434343;
    left: -80px;
    top: 50%;
    padding-bottom: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 25px;
    line-height: 80px;
    text-align: center;
    background-color: inherit;
    transition: inherit;
    box-shadow: inherit;
}
.surahs div::before{
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-right-color:black ;
    top: 50%;
    transform: translateY(-50%);
    left: -14px;
}
.surahs div:hover,
.surahs div:hover::after{
    color: #fff;
    background: linear-gradient(to bottom ,#000 ,#434343);
}